@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, aside, footer {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "forum";
}

html {
  font-size: 0.6944444444vw;
}
@media (max-width: 360px) {
  html {
    font-size: 1.9444444444vw;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  min-height: 100%;
  background: white;
}

.header {
  margin-bottom: 2rem;
}
.header__wrap {
  grid-template-columns: repeat(2, 1fr);
  height: 102.4rem;
  background: white;
  position: relative;
}
.header__cover {
  background: white;
  width: 88rem;
}
.header__aside {
  color: white;
  background: #272727;
}

.wrap__navigation {
  height: 13rem;
  width: 55rem;
  background: #272727;
  top: 0;
  right: 0;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.header__popup {
  position: absolute;
  z-index: 8;
  width: 144rem;
  height: 100%;
}

.popup {
  background: #272727;
  grid-template-rows: auto 1fr auto;
  display: none;
}
.popup__logo {
  height: 13rem;
}
.popup__logo-wrap {
  width: 112rem;
  margin: 0 auto;
}
.popup__tab-wrap {
  width: 112rem;
  margin: 0 auto;
}
.popup__about-wrap {
  width: 112rem;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}
.popup__tab {
  height: 48rem;
}
.popup__items {
  background: rgb(47, 47, 47);
  height: 7.5rem;
  grid-template-columns: repeat(7, max-content);
  gap: 2rem;
  justify-content: space-between;
}
.popup__item {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  place-self: center;
  letter-spacing: 0.1rem;
}
.popup__item:hover {
  border: 0.1rem solid rgb(122, 121, 121);
  border-radius: 1rem 1rem 0 0;
  border-bottom: none;
}
.popup__category {
  width: 100%;
  height: 40.2rem;
}
.popup__about {
  border-top: 0.3rem solid rgb(47, 47, 47);
  height: 41.4rem;
}

.logo__wrap {
  align-self: center;
}

.category__choice {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  display: none;
  padding: 7rem 0;
}
.category__choice:target {
  display: block;
  display: grid;
}
.category__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 3rem;
}
.category__link {
  display: block;
  font-size: 1.8rem;
  color: white;
  line-height: 3rem;
  margin-bottom: 0.5rem;
}
.category__link:hover {
  background: rgb(47, 47, 47);
}
.category__link-gold {
  color: rgb(239, 197, 139);
  display: block;
  font-size: 1.8rem;
  line-height: 3rem;
}

.about {
  margin-top: auto;
  place-items: center;
}
.about_news {
  overflow: hidden;
}
.about__new {
  width: 75rem;
  height: 100%;
}
.about__picture {
  position: relative;
  overflow: hidden;
  width: 75rem;
  height: 27rem;
}
.about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.about__title {
  position: relative;
  overflow: hidden;
  width: 34.5rem;
  height: 5.3rem;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.about__subtitle {
  position: absolute;
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 2rem;
  top: 3rem;
  left: 3rem;
  padding: 1rem;
}
.about__link {
  display: block;
  position: absolute;
  font-size: 1.8rem;
  line-height: 2.3rem;
  padding: 1rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  bottom: 3rem;
  right: 3rem;
}
.about__link:hover {
  background: rgba(245, 245, 245, 0.205);
  border-radius: 1rem;
}
.about__contacts {
  height: 27rem;
}

.details {
  color: #ffffff;
}
.details__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}
.details__phone {
  font-size: 1.8rem;
  line-height: 2rem;
}

.cover__wrap {
  width: 48rem;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: auto 1fr auto;
}
.cover__logo {
  height: 13.3rem;
}
.cover__title {
  width: 100%;
  height: 17rem;
  position: relative;
  place-self: center;
}
.cover__languages {
  height: 10rem;
  place-items: start;
}

.logo__wrap {
  position: relative;
  overflow: hidden;
  width: 25.8rem;
  height: 5.3rem;
  align-self: center;
  justify-self: start;
}
.logo__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title {
  position: relative;
}
.title__box {
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
}
.title__main {
  font-size: 6.4rem;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.title__link {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 100%;
  position: relative;
}
.title__link::before {
  content: "";
  width: 13rem;
  height: 0.2rem;
  background: #000;
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 30%;
}
.title__link-collection {
  position: absolute;
  display: inline-block;
  width: 17rem;
  height: 3rem;
  padding: 0.5rem;
  color: black;
  text-align: center;
  right: 0;
  top: 50%;
}
.title__link-collection:hover {
  border-radius: 1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.picture {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}
.picture__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.languages {
  place-items: start;
}
.languages__selector {
  grid-template-columns: repeat(2, 1fr);
}

.selector__item {
  font-size: 2rem;
  padding: 0.5rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.slector__ru {
  color: black;
  display: inline-block;
  border-radius: 0.5rem;
  width: 5rem;
}
.slector__ru:hover {
  border-radius: 1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.slector__en {
  color: black;
  display: inline-block;
  border-radius: 0.5rem;
  width: 5rem;
}
.slector__en:hover {
  border-radius: 1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.aside {
  position: relative;
}
.navigation {
  position: absolute;
  z-index: 10;
}
.navigation__list {
  height: 100%;
  width: 30rem;
  place-self: center;
  grid-template-columns: repeat(4, 1fr);
}
.navigation__item {
  place-content: center;
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.navigation__link-favorites {
  width: 5rem;
  height: 5rem;
  padding-top: 1.2rem;
}
.navigation__link-favorites:hover {
  background: whitesmoke;
  box-shadow: inset 0 0 2rem black;
  border: 0.1rem solid white;
  border-radius: 50%;
  color: #000;
}
.navigation__link-signin {
  width: 5rem;
  height: 5rem;
  padding-top: 1rem;
}
.navigation__link-signin:hover {
  background: whitesmoke;
  box-shadow: inset 0 0 2rem black;
  border: 0.1rem solid white;
  border-radius: 50%;
  color: #000;
}
.navigation__link-basked {
  width: 5rem;
  height: 5rem;
  padding-top: 1rem;
}
.navigation__link-basked:hover {
  background: whitesmoke;
  box-shadow: inset 0 0 2rem black;
  border: 0.1rem solid white;
  border-radius: 50%;
  color: #000;
}
.navigation__link-menu {
  width: 7rem;
  height: 7rem;
}

.icon-heart {
  font-size: 2.5rem;
  color: white;
}

.icon-user {
  font-size: 2.5rem;
  color: white;
}

.icon-shopping_bag {
  font-size: 2.5rem;
  color: white;
}

.description {
  grid-template-rows: 1fr auto;
}
.description__picture {
  position: relative;
  overflow: hidden;
  width: 32.2rem;
  height: 17rem;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
}
.description__price {
  height: 15rem;
  width: 30rem;
  padding: 0 1rem;
  margin-top: auto;
  text-align: center;
  place-self: center;
}

.price {
  grid-template-rows: repeat(3, 1fr);
}
.price__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 100%;
  justify-self: end;
  align-self: end;
}
.price__text {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 100%;
  justify-self: end;
  align-self: center;
}
.price__how {
  color: #EFC58B;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 100%;
  justify-self: end;
  align-self: start;
}

.gender {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
.gender__select {
  width: 71rem;
  height: 58.7rem;
  position: relative;
  overflow: hidden;
}

.select {
  background: black;
}
.select__img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition-duration: 1s;
}
.select__img:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.5;
}

.chapter {
  position: absolute;
  z-index: 3;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 12.5rem;
  padding: 0.5rem;
}
.chapter__text {
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.chapter__title-main {
  font-size: 6.4rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 0.5rem;
}
.chapter__title-main::after {
  content: "";
  width: 13rem;
  height: 0.3rem;
  background: #ffffff;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 15rem;
}

.search {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}
.search__form {
  width: 72rem;
  height: 60rem;
  background: #272727;
}
.search__map {
  position: relative;
  overflow: hidden;
  width: 72rem;
  height: 60rem;
}

.form {
  place-content: center;
  position: relative;
}
.form__wrap {
  color: white;
  width: 39rem;
  height: 27rem;
}
.form__title {
  font-size: 4.8rem;
  line-height: 5.3rem;
  padding: 0.5rem;
}
.form__text {
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 0.5rem;
}
.form__adress {
  display: block;
  background: #272727;
  border-bottom: 0.2rem solid white;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  line-height: 3rem;
  align-self: end;
  padding: 0 1rem;
  position: relative;
}
.form__adress:focus {
  background: #bebebe;
  border: 0.3rem solid white;
  border-radius: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
}

.icon-arrow-right2 {
  display: inline-block;
  color: rgb(233, 237, 241);
  width: 5rem;
  height: 3rem;
  position: absolute;
  z-index: 3;
  bottom: 29%;
  right: 25%;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2rem;
}

.icon-arrow-right2:hover {
  font-size: 2rem;
  color: #000;
  background: rgba(128, 128, 128, 0.489);
  border-radius: 3rem;
}

.map__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.map__points {
  position: absolute;
  z-index: 3;
  color: white;
  width: 4.5rem;
  height: 6rem;
  border-radius: 1rem;
  transition-duration: 0.5s;
}
.map__points:nth-child(6) {
  top: 25%;
  left: 60%;
}
.map__points:nth-child(2) {
  top: 20%;
  left: 30%;
}
.map__points:nth-child(3) {
  top: 50%;
  left: 40%;
}
.map__points:nth-child(4) {
  top: 60%;
  left: 60%;
}
.map__points:nth-child(5) {
  top: 50%;
  left: 10%;
}
.map__points:hover {
  transform: translate(0, -1rem);
  color: tomato;
}

[mytitle] {
  cursor: progress;
}

[mytitle]::after {
  content: "";
  transition-duration: 0.5s;
}

[mytitle]:hover::after {
  content: attr(mytitle);
  z-index: 5;
  display: block;
  background: #272727;
  width: 20rem;
  min-height: 5rem;
  border: 0.1rem solid white;
  border-radius: 0.8rem;
  font-size: 3rem;
  color: #ffffff;
}

.icon-location2 {
  font-size: 5rem;
}

.offer {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 2rem;
  gap: 2rem;
}
.offer__card1 {
  width: 40rem;
  height: 40rem;
  grid-column: 1/2;
  grid-row: 1/2;
}
.offer__card2 {
  width: 60rem;
  height: 82rem;
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
}
.offer__card3 {
  width: 40rem;
  height: 40rem;
  grid-column: 3/4;
  grid-row: 1/2;
}
.offer__card4 {
  width: 40rem;
  height: 40rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.offer__card5 {
  width: 40rem;
  height: 40rem;
  grid-column: 3/4;
  grid-row: 2/3;
}

.card {
  background: #EDEDED;
}
.card__img-wrap {
  width: 28rem;
  height: 28rem;
  position: relative;
  overflow: hidden;
  place-self: center;
}
.card__imgbig-wrap {
  width: 60rem;
  height: 82rem;
  position: relative;
  overflow: hidden;
}
.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.card__img-big {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.card__price {
  height: 12rem;
  width: 30rem;
  padding: 0 1rem;
  text-align: center;
  justify-self: center;
}
.card__pricebig {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  color: white;
  height: 12rem;
  width: 30rem;
  padding: 0 1rem;
  text-align: center;
  justify-self: center;
}

.contacts {
  grid-template-columns: repeat(2, 1fr);
}
.contacts__poster {
  width: 71rem;
  height: 64rem;
  position: relative;
  overflow: hidden;
}
.contacts__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.contacts__cell {
  width: 71rem;
  height: 64rem;
}

.cell {
  place-content: center;
}
.cell__items {
  width: 40rem;
  height: 28rem;
}

.items__title {
  font-size: 1.8rem;
  line-height: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 1rem;
}
.items__phone {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-bottom: 8rem;
  padding: 1rem;
}

.news {
  align-self: center;
}
.news__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.news__mail {
  background: #272727;
  width: 100%;
  border-bottom: 0.3rem solid black;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
  padding: 1rem;
  margin-bottom: 1.6rem;
}
.news__wrap {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.news__appstore {
  position: relative;
  overflow: hidden;
  width: 8.5rem;
  height: 3rem;
  margin-left: 1rem;
}
.news__appstore-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.news__google {
  position: relative;
  overflow: hidden;
  width: 9rem;
  height: 2.8rem;
}
.news__google-logo {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-top: auto;
}
.footer__wrap {
  background: #272727;
  color: white;
  grid-template-rows: repeat(2, 1fr);
}
.footer__naw {
  height: 20rem;
}
.footer__info {
  height: 20rem;
}

.naw__lis {
  grid-template-columns: repeat(5, max-content);
  gap: 1rem;
  justify-content: space-between;
  width: 120rem;
  place-self: center;
}
.naw__link {
  display: inline-block;
  height: 5rem;
  text-align: center;
  padding: 1.3rem 1rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: white;
}
.naw__link:hover {
  background: #303030;
  box-shadow: inset 0 0 2rem #272727;
  border-radius: 2rem;
}

.info {
  grid-template-columns: repeat(2, 1fr);
}
.info__logo {
  width: 60rem;
  justify-self: end;
  height: 20rem;
}
.info__logo-wrap {
  place-self: center;
  position: relative;
  overflow: hidden;
  width: 25.8rem;
  height: 5.3rem;
}
.info__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.info__details {
  width: 60rem;
  height: 20rem;
  justify-self: start;
}

.details {
  grid-template-columns: repeat(2, 1fr);
}
.details__contact {
  align-content: center;
}
.details__title {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  padding: 1rem;
}
.details__phone {
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 1rem;
}
.details__wrap {
  grid-template-columns: repeat(2, max-content);
  justify-content: start;
  gap: 3rem;
}
.details__facebook {
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding-top: 1rem;
}
.details__instagram {
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding-top: 1rem;
}

.icon-facebook {
  font-size: 3rem;
  color: black;
  padding-top: 0.7rem;
  border-radius: 50%;
  color: white;
}

.icon-facebook:hover {
  box-shadow: 0 0 2rem azure;
}

.icon-instagram {
  font-size: 3rem;
  color: black;
  color: white;
  padding-top: 0.7rem;
  border-radius: 50%;
}

.icon-instagram:hover {
  box-shadow: 0 0 2rem azure;
}