@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@import "resetcss.scss";



body {
  font-family: "forum";
}

html {
  font-size: calc(100vw/1440*10);
  @media (max-width:360px) {
    font-size: calc(100vw/360*7);
  }
}

* {
  border: 0.1rem solid rgb(199, 98, 98);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  min-height: 100%;
  background: white;
}
.header {
  margin-bottom: 2rem;

    &__wrap {
      grid-template-columns: repeat(2, 1fr);
      height: 102.4rem;
      background: white;
    }

		&__cover {
      background: white;
      width: 88rem;
		}

		&__aside {
      color: white;
      background: #000;
		}
}
.container {
  max-width: 144rem;
  margin: 0 auto;
  // padding: 0 1rem;
}
.grid {
  display: grid;
}
.cover {

		&__wrap {
      width: 48rem;
      height: 100%;
      margin:0 auto;
      grid-template-rows: auto 1fr auto;
		}

		&__logo {
      height: 13.3rem;
		}

		&__title {
      width: 100%;
      height: 17rem;
      position: relative;
      place-self: center;
		}

		&__languages {
      height: 10rem;
      place-items: start;
		}
}
.logo {

		&__wrap {
      position: relative;
      overflow: hidden;
      width: 25.8rem;
      height: 5.3rem;
      align-self: center;
      justify-self: start;
		}

		&__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
		}
}
.title {
  position: relative;

		&__box {
      height: 100%;
      grid-template-rows: repeat(2, 1fr);
		}

		&__main {
      font-size: 6.4rem;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
		}

		&__link {
      font-size: 1.8rem;
      font-style: italic;
      line-height: 100%;
      position: relative;
		}
    &__link::before {
      content: '';
      width: 13rem;
      height: 0.2rem;
      background: #000;
      display: inline-block;
      position: absolute;
      bottom: 20%;
      left: 30%;
    }

		&__link-collection {
      position: absolute;
      display: inline-block;
      width: 17rem;
      height: 3rem;
      padding: 0.5rem;
      color: black;
      text-align: center;
      right: 0;
      top: 50%;
		}
    
    &__link-collection:hover {
      border-radius: 1rem;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    }
}
.picture {
  // display: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

		&__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
		}
}
.languages {
  place-items: start;

		&__selector {
      grid-template-columns: repeat(2, 1fr);
		}
}
.selector {

		&__item {
      font-size: 2rem;
      padding: 0.5rem;
      line-height: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5%;
		}
}
.slector {

		&__ru {
      color: black;
      display: inline-block;
      border-radius: 0.5rem;
      width: 5rem;
		}
    &__ru:hover {
      border-radius: 1rem;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    }

		&__en {
      color: black;
      display: inline-block;
      border-radius: 0.5rem;
      width: 5rem;
		}
    &__en:hover {
      border-radius: 1rem;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    }
}
.aside {
  position: relative;

		&__navigation {
      height: 13rem;
      width: 56rem;
		}
    &__description {

    }
}
.navigation {
  position: absolute;
  z-index: 10;

		&__list {
      height: 100%;
      width: 30rem;
      place-self: center;
      grid-template-columns: repeat(4, 1fr);
		}

		&__item {
      place-content: center;
      width: 100%;
      height: 100%;
      display: grid;
      font-size: 2.5rem;
      color: white;
      text-align: center;
		}

		&__link-favorites {
      width: 5rem;
      height: 5rem;
      padding-top: 1.2rem ;
		}
    &__link-favorites:hover {
      background: lightcyan;
      box-shadow: inset 0 0 2rem black;
      border: 0.1rem solid white;
      border-radius: 50%;
      color: #000;
    }

		&__link-signin {
      width: 5rem;
      height: 5rem;
      padding-top: 1rem ;
		}
    &__link-signin:hover {
      background: lightcyan;
      box-shadow: inset 0 0 2rem black;
      border: 0.1rem solid white;
      border-radius: 50%;
      color: #000;
    }

		&__link-basked {
      width: 5rem;
      height: 5rem;
      padding-top: 1rem ;
		}
    &__link-basked:hover {
      background: lightcyan;
      box-shadow: inset 0 0 2rem black;
      border: 0.1rem solid white;
      border-radius: 50%;
      color: #000;
    }

		&__link-menu {
      width: 7rem;
      height: 7rem;
		}
}
.icon-heart {
  font-size: 2.5rem;
  color: white;
  // text-align: center;
}
.icon-user {
  font-size: 2.5rem;
  color: white;
  // text-align: center;
}
.icon-shopping_bag {
  font-size: 2.5rem;
  color: white;
}

.description {
   grid-template-rows: 1fr auto;

    &__produkt {
    }

    &__picture {
     position: relative;
     overflow: hidden;
     width: 32.2rem;
     height: 17rem;
     top: 50%;
     left: 0;
     transform: translateX(-50%);
    }

		&__price {
      height: 15rem;
      width: 30rem;
      padding: 0 1rem;
      margin-top: auto;
      text-align: center;
      place-self: center;
		}
}
.price {
  grid-template-rows: repeat(3, 1fr);

		&__title {
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      line-height: 100%;
      justify-self: end;
      align-self: end;
		}

		&__text {
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      line-height: 100%;
      justify-self: end;
      align-self: center;
		}

		&__how {
      color: #EFC58B;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      line-height: 100%;
      justify-self: end;
      align-self: start;
		}
}
.main {
}
.gender {

		&__select {
		}
}
.select {

		&__link {
		}

		&__img {
		}

		&__title {
		}

		&__text {
		}

		&__title-main {
		}
}
.search {

		&__form {
		}

		&__map {
		}
}
.form {

		&__wrap {
		}

		&__title {
		}

		&__text {
		}

		&__adress {
		}

		&__icon {
		}
}
.map {

		&__img {
		}

		&__points {
		}
}
.offer {

		&__card1 {
		}

		&__card2 {
		}

		&__card3 {
		}

		&__card4 {
		}

		&__card5 {
		}
}
.card {

		&__img-wrap {
		}

		&__img {
		}

		&__price {
		}

		&__img-big {
		}
}
.slider {
}
.contacts {

		&__poster {
		}

		&__img {
		}

		&__cell {
		}
}
.cell {

		&__items {
		}
}
.items {

		&_news {
		}

		&__number {
		}

		&__title {
		}

		&__phone {
		}
}
.news {

		&__title {
		}

		&__mail {
		}

		&__wrap {
		}

		&__appstore {
		}

		&__appstore-link {
		}

		&__appstore-logo {
		}

		&__google {
		}

		&__google-link {
		}

		&__google-logo {
		}
}
.footer {
  margin-top: auto;
  border: 0.3rem solid black;

		&__wrap {
		}

		&__naw {
		}

		&__info {
		}
}
.naw {

		&__lis {
		}

		&__item {
		}

		&__link {
		}
}
.info {

		&__logo-wrap {
		}

		&__img {
		}

		&__details {
		}
}
.ifo {

		&__logo {
		}
}
.details {

		&_news {
		}

		&__contact {
		}

		&__title {
		}

		&__phone {
		}

		&__wrap {
		}

		&__facebook {
		}

		&__facebook-link {
		}

		&__instagram {
		}

		&__instagram-link {
		}
}




